<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>
      TODO Example
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/constants.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="todoApp">
    <div ng-controller="TodoCtrl">
      <h1>
        TODO Example
      </h1>
      <h3>
        {{items.length - countDoneItems()}} of {{items.length}} remaining
      </h3>
      <form ng-submit="addItem()">
        <input type="text" ng-model="newItem.name">
        <button type="submit">
          Add
        </button>
      </form>

      <ul>
        <li ng-repeat="item in items">
          <span>
            <input type="checkbox" ng-model="item.done">
          </span>
          <span>
            {{item.name}}
          </span>
          <span>
            <a href="#" ng-click="removeItem(item)">
              [X]
            </a>
          </span>
        </li>
      </ul>
    </div>
  </body>
</html>
